.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    background-color:whitesmoke;
    padding: 10px;


  }

  .grid-container > div {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    margin: 9%;
  }

  .card-img-top{
    height: 200px;
    width: 300px;
  }